PORT=3000
PJE_BASE_URL=https://pje1g.trf1.jus.br
PJE_LIST_PATH=/pje/Processo/ConsultaProcesso/listView.seam
SSO_BASE_URL=https://sso.cloud.pje.jus.br
REALM=pje
CLIENT_ID=pje-trf1-1g
# Preencher no deploy seguro, nunca commitar credenciais reais
PJE_USERNAME=
PJE_PASSWORD=